tests/Zimbra/Tests/TestData/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:zimbra" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="TestRequestServer" targetNamespace="urn:zimbra"><types><xsd:schema targetNamespace="urn:zimbra"><xsd:complexType name="TestResponse"><xsd:all><xsd:element name="foo" type="xsd:string" nillable="true"/><xsd:element name="bar" type="xsd:string" nillable="true"/></xsd:all></xsd:complexType></xsd:schema></types><portType name="TestRequestServerPort"><operation name="testRequest"><documentation>Test request</documentation><input message="tns:testRequestIn"/><output message="tns:testRequestOut"/></operation></portType><binding name="TestRequestServerBinding" type="tns:TestRequestServerPort"><soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/><operation name="testRequest"><soap:operation soapAction="urn:zimbra#testRequest"/><input><soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:zimbra"/></input><output><soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:zimbra"/></output></operation></binding><service name="TestRequestServerService"><port name="TestRequestServerPort" binding="tns:TestRequestServerBinding"><soap:address location="urn:zimbra"/></port></service><message name="testRequestIn"><part name="foo" type="xsd:string"/><part name="bar" type="xsd:string"/></message><message name="testRequestOut"><part name="return" type="tns:TestResponse"/></message></definitions>
