tests/Zimbra/Tests/TestData/zimbraVoice.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="urn:zimbraVoice" xmlns:ns1="urn:zimbra" xmlns:voice="urn:zimbraVoice" xmlns:tns="urn:zimbraVoice" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="urn:zimbra" schemaLocation="zimbra.xsd"/>

  <xs:element name="ChangeUCPasswordRequest" type="tns:changeUCPasswordRequest"/>

  <xs:element name="ChangeUCPasswordResponse" type="tns:changeUCPasswordResponse"/>

  <xs:element name="GetUCInfoRequest" type="tns:getUCInfoRequest"/>

  <xs:element name="GetUCInfoResponse" type="tns:getUCInfoResponse"/>

  <xs:element name="GetVoiceFeaturesRequest" type="tns:getVoiceFeaturesRequest"/>

  <xs:element name="GetVoiceFeaturesResponse" type="tns:getVoiceFeaturesResponse"/>

  <xs:element name="GetVoiceFolderRequest" type="tns:getVoiceFolderRequest"/>

  <xs:element name="GetVoiceFolderResponse" type="tns:getVoiceFolderResponse"/>

  <xs:element name="GetVoiceInfoRequest" type="tns:getVoiceInfoRequest"/>

  <xs:element name="GetVoiceInfoResponse" type="tns:getVoiceInfoResponse"/>

  <xs:element name="GetVoiceMailPrefsRequest" type="tns:getVoiceMailPrefsRequest"/>

  <xs:element name="GetVoiceMailPrefsResponse" type="tns:getVoiceMailPrefsResponse"/>

  <xs:element name="ModifyFromNumRequest" type="tns:modifyFromNumRequest"/>

  <xs:element name="ModifyFromNumResponse" type="tns:modifyFromNumResponse"/>

  <xs:element name="ModifyVoiceFeaturesRequest" type="tns:modifyVoiceFeaturesRequest"/>

  <xs:element name="ModifyVoiceFeaturesResponse" type="tns:modifyVoiceFeaturesResponse"/>

  <xs:element name="ModifyVoiceMailPinRequest" type="tns:modifyVoiceMailPinRequest"/>

  <xs:element name="ModifyVoiceMailPinResponse" type="tns:modifyVoiceMailPinResponse"/>

  <xs:element name="ModifyVoiceMailPrefsRequest" type="tns:modifyVoiceMailPrefsRequest"/>

  <xs:element name="ModifyVoiceMailPrefsResponse" type="tns:modifyVoiceMailPrefsResponse"/>

  <xs:element name="ResetVoiceFeaturesRequest" type="tns:resetVoiceFeaturesRequest"/>

  <xs:element name="ResetVoiceFeaturesResponse" type="tns:resetVoiceFeaturesResponse"/>

  <xs:element name="SearchVoiceRequest" type="tns:searchVoiceRequest"/>

  <xs:element name="SearchVoiceResponse" type="tns:searchVoiceResponse"/>

  <xs:element name="UploadVoiceMailRequest" type="tns:uploadVoiceMailRequest"/>

  <xs:element name="UploadVoiceMailResponse" type="tns:uploadVoiceMailResponse"/>

  <xs:element name="VoiceMsgActionRequest" type="tns:voiceMsgActionRequest"/>

  <xs:element name="VoiceMsgActionResponse" type="tns:voiceMsgActionResponse"/>

  <xs:complexType name="changeUCPasswordRequest">
    <xs:sequence/>
    <xs:attribute name="password" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="changeUCPasswordResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getUCInfoRequest">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getUCInfoResponse">
    <xs:sequence>
      <xs:element name="attrs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="attr" type="tns:attr" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="attr">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="getVoiceFeaturesRequest">
    <xs:sequence>
      <xs:element name="storeprincipal" type="tns:storePrincipalSpec" minOccurs="0"/>
      <xs:element name="phone" type="tns:phoneVoiceFeaturesSpec" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="storePrincipalSpec">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="accountNumber" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="phoneVoiceFeaturesSpec">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="voicemailprefs" type="tns:voiceMailPrefsReq"/>
        <xs:element name="anoncallrejection" type="tns:anonCallRejectionReq"/>
        <xs:element name="calleridblocking" type="tns:callerIdBlockingReq"/>
        <xs:element name="callforward" type="tns:callForwardReq"/>
        <xs:element name="callforwardbusyline" type="tns:callForwardBusyLineReq"/>
        <xs:element name="callforwardnoanswer" type="tns:callForwardNoAnswerReq"/>
        <xs:element name="callwaiting" type="tns:callWaitingReq"/>
        <xs:element name="selectivecallforward" type="tns:selectiveCallForwardReq"/>
        <xs:element name="selectivecallacceptance" type="tns:selectiveCallAcceptanceReq"/>
        <xs:element name="selectivecallrejection" type="tns:selectiveCallRejectionReq"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="voiceMailPrefsReq">
    <xs:sequence>
      <xs:element name="pref" type="tns:voiceMailPrefName" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voiceMailPrefName">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="anonCallRejectionReq">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="callerIdBlockingReq">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="callForwardReq">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="callForwardBusyLineReq">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="callForwardNoAnswerReq">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="callWaitingReq">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="selectiveCallForwardReq">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="selectiveCallAcceptanceReq">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="selectiveCallRejectionReq">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getVoiceFeaturesResponse">
    <xs:sequence>
      <xs:element name="phone" type="tns:phoneVoiceFeaturesInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="phoneVoiceFeaturesInfo">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="voicemailprefs" type="tns:voiceMailPrefsFeature"/>
        <xs:element name="anoncallrejection" type="tns:anonCallRejectionFeature"/>
        <xs:element name="calleridblocking" type="tns:callerIdBlockingFeature"/>
        <xs:element name="callforward" type="tns:callForwardFeature"/>
        <xs:element name="callforwardbusyline" type="tns:callForwardBusyLineFeature"/>
        <xs:element name="callforwardnoanswer" type="tns:callForwardNoAnswerFeature"/>
        <xs:element name="callwaiting" type="tns:callWaitingFeature"/>
        <xs:element name="selectivecallforward" type="tns:selectiveCallForwardFeature"/>
        <xs:element name="selectivecallacceptance" type="tns:selectiveCallAcceptanceFeature"/>
        <xs:element name="selectivecallrejection" type="tns:selectiveCallRejectionFeature"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="voiceMailPrefsFeature">
    <xs:complexContent>
      <xs:extension base="tns:callFeatureInfo">
        <xs:sequence>
          <xs:element name="pref" type="tns:prefInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="callFeatureInfo" abstract="true">
    <xs:sequence/>
    <xs:attribute name="s" type="ns1:trueOrFalse" use="required"/>
    <xs:attribute name="a" type="ns1:trueOrFalse" use="required"/>
  </xs:complexType>

  <xs:complexType name="prefInfo">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="anonCallRejectionFeature">
    <xs:complexContent>
      <xs:extension base="tns:callFeatureInfo">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="callerIdBlockingFeature">
    <xs:complexContent>
      <xs:extension base="tns:callFeatureInfo">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="callForwardFeature">
    <xs:complexContent>
      <xs:extension base="tns:callFeatureInfo">
        <xs:sequence/>
        <xs:attribute name="ft" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="callForwardBusyLineFeature">
    <xs:complexContent>
      <xs:extension base="tns:callFeatureInfo">
        <xs:sequence/>
        <xs:attribute name="ft" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="callForwardNoAnswerFeature">
    <xs:complexContent>
      <xs:extension base="tns:callFeatureInfo">
        <xs:sequence/>
        <xs:attribute name="ft" type="xs:string"/>
        <xs:attribute name="nr" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="callWaitingFeature">
    <xs:complexContent>
      <xs:extension base="tns:callFeatureInfo">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="selectiveCallForwardFeature">
    <xs:complexContent>
      <xs:extension base="tns:featureWithCallerList">
        <xs:sequence/>
        <xs:attribute name="ft" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="featureWithCallerList">
    <xs:complexContent>
      <xs:extension base="tns:callFeatureInfo">
        <xs:sequence>
          <xs:element name="phone" type="tns:callerListEntry" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="callerListEntry">
    <xs:sequence/>
    <xs:attribute name="pn" type="xs:string" use="required"/>
    <xs:attribute name="a" type="ns1:trueOrFalse" use="required"/>
  </xs:complexType>

  <xs:complexType name="selectiveCallAcceptanceFeature">
    <xs:complexContent>
      <xs:extension base="tns:featureWithCallerList">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="selectiveCallRejectionFeature">
    <xs:complexContent>
      <xs:extension base="tns:featureWithCallerList">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getVoiceFolderRequest">
    <xs:sequence>
      <xs:element name="storeprincipal" type="tns:storePrincipalSpec" minOccurs="0"/>
      <xs:element name="phone" type="tns:phoneSpec" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="phoneSpec">
    <xs:sequence>
      <xs:element name="pref" type="tns:prefSpec" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="prefSpec">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="getVoiceFolderResponse">
    <xs:sequence>
      <xs:element name="phone" type="tns:voiceFolderInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voiceFolderInfo">
    <xs:sequence>
      <xs:element name="folder" type="tns:rootVoiceFolder"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="vm" type="xs:boolean" use="required"/>
  </xs:complexType>

  <xs:complexType name="rootVoiceFolder">
    <xs:complexContent>
      <xs:extension base="tns:voiceFolder">
        <xs:sequence>
          <xs:element name="folder" type="tns:voiceFolder" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voiceFolder">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="l" type="xs:string" use="required"/>
    <xs:attribute name="view" type="xs:string"/>
    <xs:attribute name="u" type="xs:long"/>
    <xs:attribute name="n" type="xs:long"/>
  </xs:complexType>

  <xs:complexType name="getVoiceInfoRequest">
    <xs:sequence>
      <xs:element name="phone" type="tns:phoneSpec" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVoiceInfoResponse">
    <xs:sequence>
      <xs:element name="audioType" type="xs:string"/>
      <xs:element name="storeprincipal" type="tns:storePrincipalSpec"/>
      <xs:element name="phone" type="tns:voiceInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voiceInfo">
    <xs:sequence>
      <xs:element name="folder" type="tns:rootVoiceFolder"/>
      <xs:element name="callfeatures" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="callfeature" type="tns:callFeature" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="label" type="xs:string" use="required"/>
    <xs:attribute name="callable" type="xs:boolean" use="required"/>
    <xs:attribute name="editable" type="xs:boolean" use="required"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="c2cDeviceId" type="xs:string"/>
    <xs:attribute name="vm" type="xs:boolean" use="required"/>
    <xs:attribute name="used" type="xs:long"/>
    <xs:attribute name="limit" type="xs:long"/>
  </xs:complexType>

  <xs:complexType name="callFeature">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="getVoiceMailPrefsRequest">
    <xs:sequence>
      <xs:element name="storeprincipal" type="tns:storePrincipalSpec" minOccurs="0"/>
      <xs:element name="phone" type="tns:phoneSpec" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVoiceMailPrefsResponse">
    <xs:sequence>
      <xs:element name="phone" type="tns:phoneInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="phoneInfo">
    <xs:sequence>
      <xs:element name="pref" type="tns:prefInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="modifyFromNumRequest">
    <xs:sequence>
      <xs:element name="storeprincipal" type="tns:storePrincipalSpec" minOccurs="0"/>
      <xs:element name="phone" type="tns:modifyFromNumSpec" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifyFromNumSpec">
    <xs:sequence/>
    <xs:attribute name="oldPhone" type="xs:string" use="required"/>
    <xs:attribute name="phone" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="label" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="modifyFromNumResponse">
    <xs:sequence>
      <xs:element name="phone" type="tns:phoneName" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="phoneName">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifyVoiceFeaturesRequest">
    <xs:sequence>
      <xs:element name="storeprincipal" type="tns:storePrincipalSpec" minOccurs="0"/>
      <xs:element name="phone" type="tns:modifyVoiceFeaturesSpec" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifyVoiceFeaturesSpec">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="voicemailprefs" type="tns:voiceMailPrefsFeature"/>
        <xs:element name="anoncallrejection" type="tns:anonCallRejectionFeature"/>
        <xs:element name="calleridblocking" type="tns:callerIdBlockingFeature"/>
        <xs:element name="callforward" type="tns:callForwardFeature"/>
        <xs:element name="callforwardbusyline" type="tns:callForwardBusyLineFeature"/>
        <xs:element name="callforwardnoanswer" type="tns:callForwardNoAnswerFeature"/>
        <xs:element name="callwaiting" type="tns:callWaitingFeature"/>
        <xs:element name="selectivecallforward" type="tns:selectiveCallForwardFeature"/>
        <xs:element name="selectivecallacceptance" type="tns:selectiveCallAcceptanceFeature"/>
        <xs:element name="selectivecallrejection" type="tns:selectiveCallRejectionFeature"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="modifyVoiceFeaturesResponse">
    <xs:sequence>
      <xs:element name="phone" type="tns:phoneName" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifyVoiceMailPinRequest">
    <xs:sequence>
      <xs:element name="storeprincipal" type="tns:storePrincipalSpec" minOccurs="0"/>
      <xs:element name="phone" type="tns:modifyVoiceMailPinSpec" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifyVoiceMailPinSpec">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="oldPin" type="xs:string" use="required"/>
    <xs:attribute name="pin" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="modifyVoiceMailPinResponse">
    <xs:sequence>
      <xs:element name="phone" type="tns:phoneName" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifyVoiceMailPrefsRequest">
    <xs:sequence>
      <xs:element name="storeprincipal" type="tns:storePrincipalSpec" minOccurs="0"/>
      <xs:element name="phone" type="tns:phoneInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifyVoiceMailPrefsResponse">
    <xs:sequence>
      <xs:element name="phone" type="tns:phoneName" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resetVoiceFeaturesRequest">
    <xs:sequence>
      <xs:element name="storeprincipal" type="tns:storePrincipalSpec" minOccurs="0"/>
      <xs:element name="phone" type="tns:resetPhoneVoiceFeaturesSpec" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resetPhoneVoiceFeaturesSpec">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="anoncallrejection" type="tns:anonCallRejectionReq"/>
        <xs:element name="calleridblocking" type="tns:callerIdBlockingReq"/>
        <xs:element name="callforward" type="tns:callForwardReq"/>
        <xs:element name="callforwardbusyline" type="tns:callForwardBusyLineReq"/>
        <xs:element name="callforwardnoanswer" type="tns:callForwardNoAnswerReq"/>
        <xs:element name="callwaiting" type="tns:callWaitingReq"/>
        <xs:element name="selectivecallforward" type="tns:selectiveCallForwardReq"/>
        <xs:element name="selectivecallacceptance" type="tns:selectiveCallAcceptanceReq"/>
        <xs:element name="selectivecallrejection" type="tns:selectiveCallRejectionReq"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="resetVoiceFeaturesResponse">
    <xs:sequence>
      <xs:element name="phone" type="tns:phoneName" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="searchVoiceRequest">
    <xs:sequence>
      <xs:element name="storeprincipal" type="tns:storePrincipalSpec" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="query" type="xs:string" use="required"/>
    <xs:attribute name="limit" type="xs:int"/>
    <xs:attribute name="offset" type="xs:int"/>
    <xs:attribute name="types" type="xs:string"/>
    <xs:attribute name="sortBy" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="searchVoiceResponse">
    <xs:sequence>
      <xs:element name="vfi" type="tns:voiceFolderSummary" minOccurs="0" maxOccurs="unbounded"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="vm" type="tns:voiceMailItem"/>
        <xs:element name="cl" type="tns:callLogItem"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="sortBy" type="xs:string" use="required"/>
    <xs:attribute name="offset" type="xs:int" use="required"/>
    <xs:attribute name="more" type="xs:boolean" use="required"/>
  </xs:complexType>

  <xs:complexType name="voiceFolderSummary">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="u" type="xs:long" use="required"/>
    <xs:attribute name="n" type="xs:long" use="required"/>
  </xs:complexType>

  <xs:complexType name="voiceMailItem">
    <xs:complexContent>
      <xs:extension base="tns:voiceCallItem">
        <xs:sequence>
          <xs:element name="cp" type="tns:voiceMailCallParty" minOccurs="0"/>
          <xs:element name="content" type="tns:voiceMailContent" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="f" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voiceCallItem">
    <xs:sequence/>
    <xs:attribute name="phone" type="xs:string" use="required"/>
    <xs:attribute name="l" type="xs:string" use="required"/>
    <xs:attribute name="sf" type="xs:string" use="required"/>
    <xs:attribute name="du" type="xs:int" use="required"/>
    <xs:attribute name="d" type="xs:long" use="required"/>
  </xs:complexType>

  <xs:complexType name="voiceMailCallParty">
    <xs:sequence/>
    <xs:attribute name="t" type="xs:string" use="required"/>
    <xs:attribute name="p" type="xs:string" use="required"/>
    <xs:attribute name="n" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="voiceMailContent">
    <xs:sequence/>
    <xs:attribute name="url" type="xs:string" use="required"/>
    <xs:attribute name="ct" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="callLogItem">
    <xs:complexContent>
      <xs:extension base="tns:voiceCallItem">
        <xs:sequence>
          <xs:element name="cp" type="tns:callLogCallParty" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="callLogCallParty">
    <xs:complexContent>
      <xs:extension base="tns:voiceMailCallParty">
        <xs:sequence/>
        <xs:attribute name="ci" type="xs:string" use="required"/>
        <xs:attribute name="st" type="xs:string" use="required"/>
        <xs:attribute name="co" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="uploadVoiceMailRequest">
    <xs:sequence>
      <xs:element name="storeprincipal" type="tns:storePrincipalSpec" minOccurs="0"/>
      <xs:element name="vm" type="tns:voiceMsgUploadSpec" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voiceMsgUploadSpec">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="phone" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="uploadVoiceMailResponse">
    <xs:sequence>
      <xs:element name="upload" type="tns:voiceMsgUploadInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voiceMsgUploadInfo">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="voiceMsgActionRequest">
    <xs:sequence>
      <xs:element name="storeprincipal" type="tns:storePrincipalSpec" minOccurs="0"/>
      <xs:element name="action" type="tns:voiceMsgActionSpec"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voiceMsgActionSpec">
    <xs:sequence/>
    <xs:attribute name="op" type="xs:string" use="required"/>
    <xs:attribute name="phone" type="xs:string" use="required"/>
    <xs:attribute name="l" type="xs:string"/>
    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="voiceMsgActionResponse">
    <xs:sequence>
      <xs:element name="action" type="tns:voiceMsgActionInfo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voiceMsgActionInfo">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="op" type="xs:string" use="required"/>
  </xs:complexType>
</xs:schema>

