tests/Zimbra/Tests/TestData/zimbraAccount.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="urn:zimbraAccount" xmlns:ns1="urn:zimbra" xmlns:tns="urn:zimbraAccount" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:account="urn:zimbraAccount">

  <xs:import namespace="urn:zimbra" schemaLocation="zimbra.xsd"/>

  <xs:element name="AuthRequest" type="tns:authRequest"/>

  <xs:element name="AuthResponse" type="tns:authResponse"/>

  <xs:element name="AutoCompleteGalRequest" type="tns:autoCompleteGalRequest"/>

  <xs:element name="AutoCompleteGalResponse" type="tns:autoCompleteGalResponse"/>

  <xs:element name="ChangePasswordRequest" type="tns:changePasswordRequest"/>

  <xs:element name="ChangePasswordResponse" type="tns:changePasswordResponse"/>

  <xs:element name="CheckLicenseRequest" type="tns:checkLicenseRequest"/>

  <xs:element name="CheckLicenseResponse" type="tns:checkLicenseResponse"/>

  <xs:element name="CheckRightsRequest" type="tns:checkRightsRequest"/>

  <xs:element name="CheckRightsResponse" type="tns:checkRightsResponse"/>

  <xs:element name="CreateDistributionListRequest" type="tns:createDistributionListRequest"/>

  <xs:element name="CreateDistributionListResponse" type="tns:createDistributionListResponse"/>

  <xs:element name="CreateIdentityRequest" type="tns:createIdentityRequest"/>

  <xs:element name="CreateIdentityResponse" type="tns:createIdentityResponse"/>

  <xs:element name="CreateSignatureRequest" type="tns:createSignatureRequest"/>

  <xs:element name="CreateSignatureResponse" type="tns:createSignatureResponse"/>

  <xs:element name="DeleteIdentityRequest" type="tns:deleteIdentityRequest"/>

  <xs:element name="DeleteIdentityResponse" type="tns:deleteIdentityResponse"/>

  <xs:element name="DeleteSignatureRequest" type="tns:deleteSignatureRequest"/>

  <xs:element name="DeleteSignatureResponse" type="tns:deleteSignatureResponse"/>

  <xs:element name="DiscoverRightsRequest" type="tns:discoverRightsRequest"/>

  <xs:element name="DiscoverRightsResponse" type="tns:discoverRightsResponse"/>

  <xs:element name="DistributionListActionRequest" type="tns:distributionListActionRequest"/>

  <xs:element name="DistributionListActionResponse" type="tns:distributionListActionResponse"/>

  <xs:element name="EndSessionRequest" type="tns:endSessionRequest"/>

  <xs:element name="EndSessionResponse" type="tns:endSessionResponse"/>

  <xs:element name="GetAccountDistributionListsRequest" type="tns:getAccountDistributionListsRequest"/>

  <xs:element name="GetAccountDistributionListsResponse" type="tns:getAccountDistributionListsResponse"/>

  <xs:element name="GetAccountInfoRequest" type="tns:getAccountInfoRequest"/>

  <xs:element name="GetAccountInfoResponse" type="tns:getAccountInfoResponse"/>

  <xs:element name="GetAllLocalesRequest" type="tns:getAllLocalesRequest"/>

  <xs:element name="GetAllLocalesResponse" type="tns:getAllLocalesResponse"/>

  <xs:element name="GetAvailableCsvFormatsRequest" type="tns:getAvailableCsvFormatsRequest"/>

  <xs:element name="GetAvailableCsvFormatsResponse" type="tns:getAvailableCsvFormatsResponse"/>

  <xs:element name="GetAvailableLocalesRequest" type="tns:getAvailableLocalesRequest"/>

  <xs:element name="GetAvailableLocalesResponse" type="tns:getAvailableLocalesResponse"/>

  <xs:element name="GetAvailableSkinsRequest" type="tns:getAvailableSkinsRequest"/>

  <xs:element name="GetAvailableSkinsResponse" type="tns:getAvailableSkinsResponse"/>

  <xs:element name="GetDistributionListMembersRequest" type="tns:getDistributionListMembersRequest"/>

  <xs:element name="GetDistributionListMembersResponse" type="tns:getDistributionListMembersResponse"/>

  <xs:element name="GetDistributionListRequest" type="tns:getDistributionListRequest"/>

  <xs:element name="GetDistributionListResponse" type="tns:getDistributionListResponse"/>

  <xs:element name="GetIdentitiesRequest" type="tns:getIdentitiesRequest"/>

  <xs:element name="GetIdentitiesResponse" type="tns:getIdentitiesResponse"/>

  <xs:element name="GetInfoRequest" type="tns:getInfoRequest"/>

  <xs:element name="GetInfoResponse" type="tns:getInfoResponse"/>

  <xs:element name="GetPrefsRequest" type="tns:getPrefsRequest"/>

  <xs:element name="GetPrefsResponse" type="tns:getPrefsResponse"/>

  <xs:element name="GetRightsRequest" type="tns:getRightsRequest"/>

  <xs:element name="GetRightsResponse" type="tns:getRightsResponse"/>

  <xs:element name="GetSMIMEPublicCertsRequest" type="tns:getSMIMEPublicCertsRequest"/>

  <xs:element name="GetSMIMEPublicCertsResponse" type="tns:getSMIMEPublicCertsResponse"/>

  <xs:element name="GetShareInfoRequest" type="tns:getShareInfoRequest"/>

  <xs:element name="GetShareInfoResponse" type="tns:getShareInfoResponse"/>

  <xs:element name="GetSignaturesRequest" type="tns:getSignaturesRequest"/>

  <xs:element name="GetSignaturesResponse" type="tns:getSignaturesResponse"/>

  <xs:element name="GetVersionInfoRequest" type="tns:getVersionInfoRequest"/>

  <xs:element name="GetVersionInfoResponse" type="tns:getVersionInfoResponse"/>

  <xs:element name="GetWhiteBlackListRequest" type="tns:getWhiteBlackListRequest"/>

  <xs:element name="GetWhiteBlackListResponse" type="tns:getWhiteBlackListResponse"/>

  <xs:element name="GrantRightsRequest" type="tns:grantRightsRequest"/>

  <xs:element name="GrantRightsResponse" type="tns:grantRightsResponse"/>

  <xs:element name="ModifyIdentityRequest" type="tns:modifyIdentityRequest"/>

  <xs:element name="ModifyIdentityResponse" type="tns:modifyIdentityResponse"/>

  <xs:element name="ModifyPrefsRequest" type="tns:modifyPrefsRequest"/>

  <xs:element name="ModifyPrefsResponse" type="tns:modifyPrefsResponse"/>

  <xs:element name="ModifyPropertiesRequest" type="tns:modifyPropertiesRequest"/>

  <xs:element name="ModifyPropertiesResponse" type="tns:modifyPropertiesResponse"/>

  <xs:element name="ModifySignatureRequest" type="tns:modifySignatureRequest"/>

  <xs:element name="ModifySignatureResponse" type="tns:modifySignatureResponse"/>

  <xs:element name="ModifyWhiteBlackListRequest" type="tns:modifyWhiteBlackListRequest"/>

  <xs:element name="ModifyWhiteBlackListResponse" type="tns:modifyWhiteBlackListResponse"/>

  <xs:element name="ModifyZimletPrefsRequest" type="tns:modifyZimletPrefsRequest"/>

  <xs:element name="ModifyZimletPrefsResponse" type="tns:modifyZimletPrefsResponse"/>

  <xs:element name="RevokeRightsRequest" type="tns:revokeRightsRequest"/>

  <xs:element name="RevokeRightsResponse" type="tns:revokeRightsResponse"/>

  <xs:element name="SearchCalendarResourcesRequest" type="tns:searchCalendarResourcesRequest"/>

  <xs:element name="SearchCalendarResourcesResponse" type="tns:searchCalendarResourcesResponse"/>

  <xs:element name="SearchGalRequest" type="tns:searchGalRequest"/>

  <xs:element name="SearchGalResponse" type="tns:searchGalResponse"/>

  <xs:element name="SubscribeDistributionListRequest" type="tns:subscribeDistributionListRequest"/>

  <xs:element name="SubscribeDistributionListResponse" type="tns:subscribeDistributionListResponse"/>

  <xs:element name="SyncGalRequest" type="tns:syncGalRequest"/>

  <xs:element name="SyncGalResponse" type="tns:syncGalResponse"/>

  <xs:element name="accountDataSource" type="tns:accountDataSource"/>

  <xs:element name="contacts" type="tns:accountContactsDataSource"/>

  <xs:element name="cos" type="tns:dlInfo"/>

  <xs:element name="dl" type="tns:distributionListInfo"/>

  <xs:element name="include" type="tns:accountZimletInclude"/>

  <xs:element name="includeCSS" type="tns:accountZimletIncludeCSS"/>

  <xs:element name="meta" type="tns:accountCustomMetadata"/>

  <xs:element name="serverExtension" type="tns:zimletServerExtension"/>

  <xs:element name="signature" type="tns:signature"/>

  <xs:element name="subsReq" type="tns:distributionListSubscribeReq"/>

  <xs:element name="target" type="tns:accountZimletTarget"/>

  <xs:complexType name="authRequest">
    <xs:all>
      <xs:element name="account" type="ns1:accountSelector" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
      <xs:element name="preauth" type="tns:preAuth" minOccurs="0"/>
      <xs:element name="authToken" type="tns:authToken" minOccurs="0"/>
      <xs:element name="virtualHost" type="xs:string" minOccurs="0"/>
      <xs:element name="prefs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="pref" type="tns:pref" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="attrs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="attr" type="tns:attr" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="requestedSkin" type="xs:string" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="persistAuthTokenCookie" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="preAuth">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="timestamp" type="xs:long" use="required"/>
        <xs:attribute name="expiresTimestamp" type="xs:long"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="authToken">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="verifyAccount" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="pref">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="modified" type="xs:long"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="attr">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="pd" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="authResponse">
    <xs:all>
      <xs:element name="authToken" type="xs:string"/>
      <xs:element name="lifetime" type="xs:long"/>
      <xs:element name="session" type="tns:session" minOccurs="0"/>
      <xs:element name="refer" type="xs:string" minOccurs="0"/>
      <xs:element name="skin" type="xs:string" minOccurs="0"/>
      <xs:element name="prefs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="pref" type="tns:pref" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="attrs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="attr" type="tns:attr" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="session">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="id" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="autoCompleteGalRequest">
    <xs:sequence/>
    <xs:attribute name="needExp" type="xs:boolean"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" type="ns1:galSearchType"/>
    <xs:attribute name="galAcctId" type="xs:string"/>
    <xs:attribute name="limit" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="autoCompleteGalResponse">
    <xs:sequence>
      <xs:element name="cn" type="tns:contactInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="more" type="xs:boolean"/>
    <xs:attribute name="tokenizeKey" type="xs:boolean"/>
    <xs:attribute name="paginationSupported" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="contactInfo">
    <xs:sequence>
      <xs:element ref="tns:meta" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="a" type="ns1:contactAttr" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="m" type="tns:contactGroupMember" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="sf" type="xs:string"/>
    <xs:attribute name="exp" type="xs:boolean"/>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="l" type="xs:string"/>
    <xs:attribute name="f" type="xs:string"/>
    <xs:attribute name="t" type="xs:string"/>
    <xs:attribute name="tn" type="xs:string"/>
    <xs:attribute name="md" type="xs:long"/>
    <xs:attribute name="ms" type="xs:int"/>
    <xs:attribute name="d" type="xs:long"/>
    <xs:attribute name="rev" type="xs:int"/>
    <xs:attribute name="fileAsStr" type="xs:string"/>
    <xs:attribute name="email" type="xs:string"/>
    <xs:attribute name="email2" type="xs:string"/>
    <xs:attribute name="email3" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="dlist" type="xs:string"/>
    <xs:attribute name="ref" type="xs:string"/>
    <xs:attribute name="tooManyMembers" type="xs:boolean"/>
    <xs:attribute name="isOwner" type="xs:boolean"/>
    <xs:attribute name="isMember" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="accountCustomMetadata">
    <xs:complexContent>
      <xs:extension base="tns:accountKeyValuePairs">
        <xs:sequence/>
        <xs:attribute name="section" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="accountKeyValuePairs">
    <xs:sequence>
      <xs:element name="a" type="ns1:keyValuePair" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="contactGroupMember">
    <xs:sequence>
      <xs:element name="cn" type="tns:contactInfo" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="changePasswordRequest">
    <xs:all>
      <xs:element name="account" type="ns1:accountSelector"/>
      <xs:element name="oldPassword" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
      <xs:element name="virtualHost" type="xs:string" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="changePasswordResponse">
    <xs:all>
      <xs:element name="authToken" type="xs:string"/>
      <xs:element name="lifetime" type="xs:long"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="checkLicenseRequest">
    <xs:sequence/>
    <xs:attribute name="feature" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="checkLicenseResponse">
    <xs:sequence/>
    <xs:attribute name="status" type="tns:checkLicenseStatus" use="required"/>
  </xs:complexType>

  <xs:complexType name="checkRightsRequest">
    <xs:sequence>
      <xs:element name="target" type="tns:checkRightsTargetSpec" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkRightsTargetSpec">
    <xs:sequence>
      <xs:element name="right" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="type" type="ns1:targetType" use="required"/>
    <xs:attribute name="by" type="ns1:targetBy" use="required"/>
    <xs:attribute name="key" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="checkRightsResponse">
    <xs:sequence>
      <xs:element name="target" type="tns:checkRightsTargetInfo" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkRightsTargetInfo">
    <xs:sequence>
      <xs:element name="right" type="tns:checkRightsRightInfo" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="type" type="ns1:targetType" use="required"/>
    <xs:attribute name="by" type="ns1:targetBy" use="required"/>
    <xs:attribute name="key" type="xs:string" use="required"/>
    <xs:attribute name="allow" type="xs:boolean" use="required"/>
  </xs:complexType>

  <xs:complexType name="checkRightsRightInfo">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="allow" type="xs:boolean" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="createDistributionListRequest">
    <xs:complexContent>
      <xs:extension base="tns:accountKeyValuePairs">
        <xs:sequence/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="dynamic" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="createDistributionListResponse">
    <xs:sequence>
      <xs:element name="dl" type="tns:dlInfo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dlInfo">
    <xs:complexContent>
      <xs:extension base="tns:objectInfo">
        <xs:all/>
        <xs:attribute name="ref" type="xs:string" use="required"/>
        <xs:attribute name="d" type="xs:string"/>
        <xs:attribute name="dynamic" type="xs:boolean"/>
        <xs:attribute name="via" type="xs:string"/>
        <xs:attribute name="isOwner" type="xs:boolean"/>
        <xs:attribute name="isMember" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="objectInfo">
    <xs:sequence>
      <xs:element name="a" type="ns1:keyValuePair" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="createIdentityRequest">
    <xs:sequence>
      <xs:element name="identity" type="tns:identity"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="identity">
    <xs:complexContent>
      <xs:extension base="tns:attrsImpl">
        <xs:sequence/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="id" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="attrsImpl" abstract="true">
    <xs:sequence>
      <xs:element name="a" type="tns:attr" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createIdentityResponse">
    <xs:sequence>
      <xs:element name="identity" type="tns:identity"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createSignatureRequest">
    <xs:sequence>
      <xs:element ref="tns:signature"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="signature">
    <xs:sequence>
      <xs:element name="content" type="tns:signatureContent" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="cid" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="signatureContent">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="createSignatureResponse">
    <xs:sequence>
      <xs:element name="signature" type="tns:nameId"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="nameId">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="deleteIdentityRequest">
    <xs:sequence>
      <xs:element name="identity" type="tns:nameId"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteIdentityResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="deleteSignatureRequest">
    <xs:sequence>
      <xs:element name="signature" type="tns:nameId"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteSignatureResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="discoverRightsRequest">
    <xs:sequence>
      <xs:element name="right" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="discoverRightsResponse">
    <xs:sequence>
      <xs:element name="targets" type="tns:discoverRightsInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="discoverRightsInfo">
    <xs:sequence>
      <xs:element name="target" type="tns:discoverRightsTarget" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="right" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="discoverRightsTarget">
    <xs:sequence>
      <xs:element name="email" type="tns:discoverRightsEmail" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="type" type="ns1:targetType" use="required"/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="d" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="discoverRightsEmail">
    <xs:sequence/>
    <xs:attribute name="addr" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="distributionListActionRequest">
    <xs:complexContent>
      <xs:extension base="tns:attrsImpl">
        <xs:sequence>
          <xs:element name="dl" type="ns1:distributionListSelector"/>
          <xs:element name="action" type="tns:distributionListAction"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="distributionListAction">
    <xs:complexContent>
      <xs:extension base="tns:accountKeyValuePairs">
        <xs:sequence>
          <xs:element name="dlm" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="newName" type="xs:string" minOccurs="0"/>
          <xs:element name="owner" type="tns:distributionListGranteeSelector" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="right" type="tns:distributionListRightSpec" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="tns:subsReq" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="op" type="tns:operation" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="distributionListGranteeSelector">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="ns1:granteeType" use="required"/>
        <xs:attribute name="by" type="ns1:distributionListGranteeBy" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="distributionListRightSpec">
    <xs:sequence>
      <xs:element name="grantee" type="tns:distributionListGranteeSelector" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="right" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="distributionListSubscribeReq">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="op" type="tns:distributionListSubscribeOp" use="required"/>
        <xs:attribute name="bccOwners" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="distributionListActionResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="endSessionRequest">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="endSessionResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAccountDistributionListsRequest">
    <xs:sequence/>
    <xs:attribute name="ownerOf" type="xs:boolean"/>
    <xs:attribute name="memberOf" type="tns:memberOfSelector"/>
    <xs:attribute name="attrs" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="getAccountDistributionListsResponse">
    <xs:sequence>
      <xs:element name="dl" type="tns:dlInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAccountInfoRequest">
    <xs:sequence>
      <xs:element name="account" type="ns1:accountSelector"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAccountInfoResponse">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="attr" type="ns1:namedValue" maxOccurs="unbounded"/>
      <xs:element name="soapURL" type="xs:string" minOccurs="0"/>
      <xs:element name="publicURL" type="xs:string" minOccurs="0"/>
      <xs:element name="changePasswordURL" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAllLocalesRequest">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllLocalesResponse">
    <xs:sequence>
      <xs:element name="locale" type="tns:localeInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="localeInfo">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="localName" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="getAvailableCsvFormatsRequest">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAvailableCsvFormatsResponse">
    <xs:sequence>
      <xs:element name="csv" type="ns1:namedElement" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAvailableLocalesRequest">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAvailableLocalesResponse">
    <xs:sequence>
      <xs:element name="locale" type="tns:localeInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAvailableSkinsRequest">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAvailableSkinsResponse">
    <xs:sequence>
      <xs:element name="skin" type="ns1:namedElement" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDistributionListMembersRequest">
    <xs:sequence>
      <xs:element name="dl" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="limit" type="xs:int"/>
    <xs:attribute name="offset" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="getDistributionListMembersResponse">
    <xs:sequence>
      <xs:element name="dlm" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="more" type="xs:boolean"/>
    <xs:attribute name="total" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="getDistributionListRequest">
    <xs:complexContent>
      <xs:extension base="tns:attrsImpl">
        <xs:sequence>
          <xs:element name="dl" type="ns1:distributionListSelector"/>
        </xs:sequence>
        <xs:attribute name="needOwners" type="xs:boolean"/>
        <xs:attribute name="needRights" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getDistributionListResponse">
    <xs:sequence>
      <xs:element ref="tns:dl" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="distributionListInfo">
    <xs:complexContent>
      <xs:extension base="tns:objectInfo">
        <xs:sequence>
          <xs:element name="dlm" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="owners" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="owner" type="tns:distributionListGranteeInfo" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="rights" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="right" type="tns:distributionListRightInfo" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="isOwner" type="xs:boolean"/>
        <xs:attribute name="isMember" type="xs:boolean"/>
        <xs:attribute name="dynamic" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="distributionListGranteeInfo">
    <xs:sequence/>
    <xs:attribute name="type" type="ns1:granteeType" use="required"/>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="distributionListRightInfo">
    <xs:sequence>
      <xs:element name="grantee" type="tns:distributionListGranteeInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="right" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="getIdentitiesRequest">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getIdentitiesResponse">
    <xs:sequence>
      <xs:element name="identity" type="tns:identity" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getInfoRequest">
    <xs:sequence/>
    <xs:attribute name="rights" type="xs:string"/>
    <xs:attribute name="sections" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="getInfoResponse" final="extension restriction">
    <xs:sequence>
      <xs:element name="version" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="crumb" type="xs:string" minOccurs="0"/>
      <xs:element name="lifetime" type="xs:long"/>
      <xs:element name="adminDelegated" type="xs:boolean" minOccurs="0"/>
      <xs:element name="rest" type="xs:string" minOccurs="0"/>
      <xs:element name="used" type="xs:long" minOccurs="0"/>
      <xs:element name="prevSession" type="xs:long" minOccurs="0"/>
      <xs:element name="accessed" type="xs:long" minOccurs="0"/>
      <xs:element name="recent" type="xs:int" minOccurs="0"/>
      <xs:element name="cos" type="tns:cos" minOccurs="0"/>
      <xs:element name="prefs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="pref" type="tns:pref" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="attrs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="attr" type="tns:attr" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="zimlets" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="zimlet" type="tns:accountZimletInfo" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="props" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="prop" type="tns:prop" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="identities" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="identity" type="tns:identity" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="signatures" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:signature" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dataSources" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="imap" type="tns:accountImapDataSource"/>
              <xs:element name="pop3" type="tns:accountPop3DataSource"/>
              <xs:element name="caldav" type="tns:accountCaldavDataSource"/>
              <xs:element name="yab" type="tns:accountYabDataSource"/>
              <xs:element name="rss" type="tns:accountRssDataSource"/>
              <xs:element name="gal" type="tns:accountGalDataSource"/>
              <xs:element name="cal" type="tns:accountCalDataSource"/>
              <xs:element name="unknown" type="tns:accountUnknownDataSource"/>
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="childAccounts" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="childAccount" type="tns:childAccount" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="rights" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="targets" type="tns:discoverRightsInfo" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="soapURL" type="xs:string" minOccurs="0"/>
      <xs:element name="publicURL" type="xs:string" minOccurs="0"/>
      <xs:element name="changePasswordURL" type="xs:string" minOccurs="0"/>
      <xs:element name="license" type="tns:licenseInfo" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="attSizeLimit" type="xs:long"/>
    <xs:attribute name="docSizeLimit" type="xs:long"/>
  </xs:complexType>

  <xs:complexType name="cos">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="accountZimletInfo">
    <xs:sequence>
      <xs:element name="zimletContext" type="tns:accountZimletContext" minOccurs="0"/>
      <xs:element name="zimlet" type="tns:accountZimletDesc" minOccurs="0"/>
      <xs:element name="zimletConfig" type="tns:accountZimletConfigInfo" minOccurs="0"/>
      <xs:any processContents="skip" namespace="##other"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="accountZimletContext">
    <xs:sequence/>
    <xs:attribute name="baseUrl" type="xs:string" use="required"/>
    <xs:attribute name="priority" type="xs:int"/>
    <xs:attribute name="presence" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="accountZimletDesc">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tns:serverExtension"/>
        <xs:element ref="tns:include"/>
        <xs:element ref="tns:includeCSS"/>
        <xs:element ref="tns:target"/>
        <xs:any processContents="skip" namespace="##other"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="version" type="xs:string"/>
    <xs:attribute name="description" type="xs:string"/>
    <xs:attribute name="extension" type="xs:string"/>
    <xs:attribute name="target" type="xs:string"/>
    <xs:attribute name="label" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="zimletServerExtension">
    <xs:sequence/>
    <xs:attribute name="hasKeyword" type="xs:string"/>
    <xs:attribute name="extensionClass" type="xs:string"/>
    <xs:attribute name="regex" type="xs:string"/>
  </xs:complexType>

  <xs:simpleType name="accountZimletInclude">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="accountZimletIncludeCSS">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="accountZimletTarget">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:complexType name="accountZimletConfigInfo">
    <xs:all>
      <xs:element name="global" type="tns:accountZimletGlobalConfigInfo" minOccurs="0"/>
      <xs:element name="host" type="tns:accountZimletHostConfigInfo" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="version" type="xs:string"/>
    <xs:attribute name="description" type="xs:string"/>
    <xs:attribute name="extension" type="xs:string"/>
    <xs:attribute name="target" type="xs:string"/>
    <xs:attribute name="label" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="accountZimletGlobalConfigInfo">
    <xs:sequence>
      <xs:element name="property" type="tns:accountZimletProperty" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="accountZimletProperty">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="accountZimletHostConfigInfo">
    <xs:sequence>
      <xs:element name="property" type="tns:accountZimletProperty" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="prop">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="zimlet" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="accountImapDataSource">
    <xs:complexContent>
      <xs:extension base="tns:accountDataSource">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="accountDataSource">
    <xs:sequence>
      <xs:element name="lastError" type="xs:string" minOccurs="0"/>
      <xs:element name="a" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="l" type="xs:string"/>
    <xs:attribute name="isEnabled" type="xs:boolean"/>
    <xs:attribute name="importOnly" type="xs:boolean"/>
    <xs:attribute name="host" type="xs:string"/>
    <xs:attribute name="port" type="xs:int"/>
    <xs:attribute name="connectionType" type="tns:adsConnectionType"/>
    <xs:attribute name="username" type="xs:string"/>
    <xs:attribute name="password" type="xs:string"/>
    <xs:attribute name="pollingInterval" type="xs:string"/>
    <xs:attribute name="emailAddress" type="xs:string"/>
    <xs:attribute name="useAddressForForwardReply" type="xs:boolean"/>
    <xs:attribute name="defaultSignature" type="xs:string"/>
    <xs:attribute name="forwardReplySignature" type="xs:string"/>
    <xs:attribute name="fromDisplay" type="xs:string"/>
    <xs:attribute name="replyToAddress" type="xs:string"/>
    <xs:attribute name="replyToDisplay" type="xs:string"/>
    <xs:attribute name="importClass" type="xs:string"/>
    <xs:attribute name="failingSince" type="xs:long"/>
  </xs:complexType>

  <xs:complexType name="accountPop3DataSource">
    <xs:complexContent>
      <xs:extension base="tns:accountDataSource">
        <xs:all/>
        <xs:attribute name="leaveOnServer" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="accountCaldavDataSource">
    <xs:complexContent>
      <xs:extension base="tns:accountDataSource">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="accountYabDataSource">
    <xs:complexContent>
      <xs:extension base="tns:accountDataSource">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="accountRssDataSource">
    <xs:complexContent>
      <xs:extension base="tns:accountDataSource">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="accountGalDataSource">
    <xs:complexContent>
      <xs:extension base="tns:accountDataSource">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="accountCalDataSource">
    <xs:complexContent>
      <xs:extension base="tns:accountDataSource">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="accountUnknownDataSource">
    <xs:complexContent>
      <xs:extension base="tns:accountDataSource">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="childAccount">
    <xs:sequence>
      <xs:element name="attrs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="attr" type="tns:attr" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="visible" type="xs:boolean" use="required"/>
    <xs:attribute name="active" type="xs:boolean" use="required"/>
  </xs:complexType>

  <xs:complexType name="licenseInfo">
    <xs:sequence>
      <xs:element name="attr" type="tns:licenseAttr" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="status" type="ns1:licenseStatus" use="required"/>
  </xs:complexType>

  <xs:complexType name="licenseAttr">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="getPrefsRequest">
    <xs:sequence>
      <xs:element name="pref" type="tns:pref" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPrefsResponse">
    <xs:sequence>
      <xs:element name="pref" type="tns:pref" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRightsRequest">
    <xs:sequence>
      <xs:element name="ace" type="tns:right" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="right">
    <xs:sequence/>
    <xs:attribute name="right" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="getRightsResponse">
    <xs:sequence>
      <xs:element name="ace" type="tns:accountACEInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="accountACEInfo">
    <xs:sequence/>
    <xs:attribute name="zid" type="xs:string"/>
    <xs:attribute name="gt" type="ns1:granteeType" use="required"/>
    <xs:attribute name="right" type="xs:string" use="required"/>
    <xs:attribute name="d" type="xs:string"/>
    <xs:attribute name="key" type="xs:string"/>
    <xs:attribute name="pw" type="xs:string"/>
    <xs:attribute name="deny" type="xs:boolean"/>
    <xs:attribute name="chkgt" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="getSMIMEPublicCertsRequest">
    <xs:sequence>
      <xs:element name="store" type="tns:smimePublicCertsStoreSpec"/>
      <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="smimePublicCertsStoreSpec">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="storeLookupOpt" type="ns1:storeLookupOpt"/>
        <xs:attribute name="sourceLookupOpt" type="ns1:sourceLookupOpt"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="getSMIMEPublicCertsResponse">
    <xs:sequence>
      <xs:element name="certs" type="tns:smimePublicCertsInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="smimePublicCertsInfo">
    <xs:sequence>
      <xs:element name="cert" type="tns:smimePublicCertInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="email" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="smimePublicCertInfo">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="store" type="ns1:smimeStoreType" use="required"/>
        <xs:attribute name="field" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="getShareInfoRequest">
    <xs:sequence>
      <xs:element name="grantee" type="ns1:granteeChooser" minOccurs="0"/>
      <xs:element name="owner" type="ns1:accountSelector" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="internal" type="xs:boolean"/>
    <xs:attribute name="includeSelf" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="getShareInfoResponse">
    <xs:sequence>
      <xs:element name="share" type="ns1:shareInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSignaturesRequest">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getSignaturesResponse">
    <xs:sequence>
      <xs:element ref="tns:signature" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVersionInfoRequest">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getVersionInfoResponse">
    <xs:sequence>
      <xs:element name="info" type="tns:versionInfo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="versionInfo">
    <xs:sequence/>
    <xs:attribute name="version" type="xs:string" use="required"/>
    <xs:attribute name="release" type="xs:string" use="required"/>
    <xs:attribute name="buildDate" type="xs:string" use="required"/>
    <xs:attribute name="host" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="getWhiteBlackListRequest">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getWhiteBlackListResponse">
    <xs:sequence>
      <xs:element name="whiteList">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="addr" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="blackList">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="addr" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="grantRightsRequest">
    <xs:sequence>
      <xs:element name="ace" type="tns:accountACEInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="grantRightsResponse">
    <xs:sequence>
      <xs:element name="ace" type="tns:accountACEInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifyIdentityRequest">
    <xs:sequence>
      <xs:element name="identity" type="tns:identity"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifyIdentityResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="modifyPrefsRequest">
    <xs:sequence>
      <xs:element name="pref" type="tns:pref" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifyPrefsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="modifyPropertiesRequest">
    <xs:sequence>
      <xs:element name="prop" type="tns:prop" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifyPropertiesResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="modifySignatureRequest">
    <xs:sequence>
      <xs:element ref="tns:signature"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifySignatureResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="modifyWhiteBlackListRequest">
    <xs:sequence>
      <xs:element name="whiteList" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="addr" type="ns1:opValue" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="blackList" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="addr" type="ns1:opValue" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifyWhiteBlackListResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="modifyZimletPrefsRequest">
    <xs:sequence>
      <xs:element name="zimlet" type="tns:modifyZimletPrefsSpec" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifyZimletPrefsSpec">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="presence" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="modifyZimletPrefsResponse">
    <xs:sequence>
      <xs:element name="zimlet" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="revokeRightsRequest">
    <xs:sequence>
      <xs:element name="ace" type="tns:accountACEInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="revokeRightsResponse">
    <xs:sequence>
      <xs:element name="ace" type="tns:accountACEInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="searchCalendarResourcesRequest">
    <xs:complexContent>
      <xs:extension base="ns1:attributeSelectorImpl">
        <xs:sequence>
          <xs:element name="locale" type="xs:string" minOccurs="0"/>
          <xs:element name="cursor" type="ns1:cursorInfo" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="searchFilter" type="tns:entrySearchFilterInfo" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="quick" type="xs:boolean"/>
        <xs:attribute name="sortBy" type="xs:string"/>
        <xs:attribute name="limit" type="xs:int"/>
        <xs:attribute name="offset" type="xs:int"/>
        <xs:attribute name="galAcctId" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="entrySearchFilterInfo">
    <xs:sequence>
      <xs:choice minOccurs="0">
        <xs:element name="conds" type="tns:entrySearchFilterMultiCond"/>
        <xs:element name="cond" type="tns:entrySearchFilterSingleCond"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="entrySearchFilterMultiCond">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="conds" type="tns:entrySearchFilterMultiCond"/>
        <xs:element name="cond" type="tns:entrySearchFilterSingleCond"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="not" type="xs:boolean"/>
    <xs:attribute name="or" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="entrySearchFilterSingleCond">
    <xs:sequence/>
    <xs:attribute name="not" type="xs:boolean"/>
    <xs:attribute name="attr" type="xs:string" use="required"/>
    <xs:attribute name="op" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="searchCalendarResourcesResponse">
    <xs:sequence>
      <xs:element name="calresource" type="tns:calendarResourceInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="sortBy" type="xs:string"/>
    <xs:attribute name="offset" type="xs:int"/>
    <xs:attribute name="more" type="xs:boolean"/>
    <xs:attribute name="paginationSupported" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="calendarResourceInfo">
    <xs:complexContent>
      <xs:extension base="tns:accountKeyValuePairs">
        <xs:sequence/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="id" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="searchGalRequest">
    <xs:sequence>
      <xs:element name="locale" type="xs:string" minOccurs="0"/>
      <xs:element name="cursor" type="ns1:cursorInfo" minOccurs="0"/>
      <xs:element name="searchFilter" type="tns:entrySearchFilterInfo" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="ref" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="type" type="ns1:galSearchType"/>
    <xs:attribute name="needExp" type="xs:boolean"/>
    <xs:attribute name="needIsOwner" type="xs:boolean"/>
    <xs:attribute name="needIsMember" type="tns:memberOfSelector"/>
    <xs:attribute name="needSMIMECerts" type="xs:boolean"/>
    <xs:attribute name="galAcctId" type="xs:string"/>
    <xs:attribute name="quick" type="xs:boolean"/>
    <xs:attribute name="sortBy" type="xs:string"/>
    <xs:attribute name="limit" type="xs:int"/>
    <xs:attribute name="offset" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="searchGalResponse">
    <xs:sequence>
      <xs:element name="cn" type="tns:contactInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="sortBy" type="xs:string"/>
    <xs:attribute name="offset" type="xs:int"/>
    <xs:attribute name="more" type="xs:boolean"/>
    <xs:attribute name="paginationSupported" type="xs:boolean"/>
    <xs:attribute name="tokenizeKey" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="subscribeDistributionListRequest">
    <xs:sequence>
      <xs:element name="dl" type="ns1:distributionListSelector"/>
    </xs:sequence>
    <xs:attribute name="op" type="tns:distributionListSubscribeOp" use="required"/>
  </xs:complexType>

  <xs:complexType name="subscribeDistributionListResponse">
    <xs:sequence/>
    <xs:attribute name="status" type="tns:distributionListSubscribeStatus" use="required"/>
  </xs:complexType>

  <xs:complexType name="syncGalRequest">
    <xs:sequence/>
    <xs:attribute name="token" type="xs:string"/>
    <xs:attribute name="galAcctId" type="xs:string"/>
    <xs:attribute name="idOnly" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="syncGalResponse">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="cn" type="tns:contactInfo"/>
        <xs:element name="deleted" type="ns1:id"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="more" type="xs:boolean"/>
    <xs:attribute name="token" type="xs:string"/>
    <xs:attribute name="galDefinitionLastModified" type="xs:string"/>
    <xs:attribute name="throttled" type="xs:boolean"/>
    <xs:attribute name="fullSyncRecommended" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="accountContactsDataSource">
    <xs:complexContent>
      <xs:extension base="tns:accountDataSource">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="calTZInfo">
    <xs:all>
      <xs:element name="standard" type="ns1:tzOnsetInfo" minOccurs="0"/>
      <xs:element name="daylight" type="ns1:tzOnsetInfo" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="stdoff" type="xs:int"/>
    <xs:attribute name="dayoff" type="xs:int"/>
    <xs:attribute name="stdname" type="xs:string"/>
    <xs:attribute name="dayname" type="xs:string"/>
  </xs:complexType>

  <xs:simpleType name="checkLicenseStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ok"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="inGracePeriod"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="operation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="delete"/>
      <xs:enumeration value="modify"/>
      <xs:enumeration value="rename"/>
      <xs:enumeration value="addOwners"/>
      <xs:enumeration value="removeOwners"/>
      <xs:enumeration value="setOwners"/>
      <xs:enumeration value="grantRights"/>
      <xs:enumeration value="revokeRights"/>
      <xs:enumeration value="setRights"/>
      <xs:enumeration value="addMembers"/>
      <xs:enumeration value="removeMembers"/>
      <xs:enumeration value="acceptSubsReq"/>
      <xs:enumeration value="rejectSubsReq"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="distributionListSubscribeOp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="subscribe"/>
      <xs:enumeration value="unsubscribe"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="memberOfSelector">
    <xs:restriction base="xs:string">
      <xs:enumeration value="all"/>
      <xs:enumeration value="directOnly"/>
      <xs:enumeration value="none"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="adsConnectionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cleartext"/>
      <xs:enumeration value="ssl"/>
      <xs:enumeration value="tls"/>
      <xs:enumeration value="tls_is_available"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="distributionListSubscribeStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="subscribed"/>
      <xs:enumeration value="unsubscribed"/>
      <xs:enumeration value="awaiting_approval"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="infoSection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="mbox"/>
      <xs:enumeration value="prefs"/>
      <xs:enumeration value="attrs"/>
      <xs:enumeration value="zimlets"/>
      <xs:enumeration value="props"/>
      <xs:enumeration value="idents"/>
      <xs:enumeration value="sigs"/>
      <xs:enumeration value="dsrcs"/>
      <xs:enumeration value="children"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

